# universal
tokenizers==0.19.1
torch==2.4.0
transformers==4.44.0


# components/ai/ai21labs
ai21-tokenizer==0.11.3

# components/operator/document
pdfplumber==0.11.3

# components/operator/text
mistral_common==1.3.3

