name: Integration Test

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build-push-image:
    name: Build and push image
    uses: instill-ai/pipeline-backend/.github/workflows/images.yml@huitang/ins-3979-2
    secrets: inherit
  backends:
    needs: build-push-image
    if: github.ref == 'refs/heads/main'
    name: Backends
    strategy:
      fail-fast: false
      matrix:
        component: [pipeline-backend]
    uses: instill-ai/instill-core/.github/workflows/integration-test-backend.yml@main
    with:
      component: ${{ matrix.component }}
      target: latest
  pr-head:
    if: github.event_name == 'pull_request'
    name: PR head branch
    runs-on: ubuntu-latest
    steps:
      # mono occupies port 8084 which conflicts with mgmt-backend
      - name: Stop mono service
        run: |
          sudo kill -9 `sudo lsof -t -i:8084`
          sudo lsof -i -P -n | grep LISTEN

      - name: Free disk space
        run: |
          df --human-readable
          sudo apt clean
          docker rmi $(docker image ls --all --quiet)
          rm --recursive --force "$AGENT_TOOLSDIRECTORY"
          df --human-readable

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Load .env file
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          build-args: |
            SERVICE_NAME=pipeline-backend
            GOLANG_VERSION=${{ env.GOLANG_VERSION }}
          tags: instill/pipeline-backend:latest

      - name: Checkout repo (instill-core)
        uses: actions/checkout@v3
        with:
          repository: instill-ai/instill-core

      - name: Load .env file (instill-core)
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - name: Launch Instill Core (latest)
        run: |
          COMPOSE_PROFILES=all \
          EDITION=local-ce:test \
          RAY_LATEST_TAG=latest \
          docker compose -f docker-compose.yml -f docker-compose-latest.yml up -d --quiet-pull
          COMPOSE_PROFILES=all \
          EDITION=local-ce:test \
          docker compose -f docker-compose.yml -f docker-compose-latest.yml rm -f

      - name: Install k6
        run: |
          curl https://github.com/grafana/k6/releases/download/v${{ env.K6_VERSION }}/k6-v${{ env.K6_VERSION }}-linux-amd64.tar.gz -L | tar xvz --strip-components 1 && sudo cp k6 /usr/bin

      - name: Checkout (pipeline)
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Load .env file
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - name: Run integration-test
        run: |
          make integration-test API_GATEWAY_URL=localhost:8080
