name: Integration Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-push-image:
    if: github.ref == 'refs/heads/main'
    name: Build and push image
    uses: instill-ai/pipeline-backend/.github/workflows/images.yml@main
    secrets: inherit
  backends:
    needs: build-push-image
    if: github.ref == 'refs/heads/main'
    name: Backends
    strategy:
      fail-fast: false
      matrix:
        component: [pipeline, connector, model, mgmt]
    uses: instill-ai/vdp/.github/workflows/integration-test-backend.yml@main
    with:
      component: ${{ matrix.component }}
  console:
    needs: build-push-image
    if: github.ref == 'refs/heads/main'
    name: Console
    uses: instill-ai/vdp/.github/workflows/integration-test-console.yml@main

  pr-head:
    if: github.event_name == 'pull_request'
    name: PR head branch
    runs-on: ubuntu-latest
    steps:

      # mono occupies port 8084 which conflicts with mgmt-backend
      - name: Stop mono service
        run: |
          sudo kill -9 `sudo lsof -t -i:8084`
          sudo lsof -i -P -n | grep LISTEN

      - name: Free disk space
        run: |
          df --human-readable
          sudo apt clean
          docker rmi $(docker image ls --all --quiet)
          rm --recursive --force "$AGENT_TOOLSDIRECTORY"
          df --human-readable

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Load .env file
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: dropletbot
          password: ${{ secrets.botDockerHubPassword }}

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          build-args: |
            SERVICE_NAME=pipeline-backend
            GOLANG_VERSION=${{ env.GOLANG_VERSION }}
          tags: instill/pipeline-backend:latest
          outputs: type=docker,dest=/tmp/image.tar

      - name: Load image
        run: |
          docker load --input /tmp/image.tar
          docker image ls -a

      - name: Checkout (vdp)
        uses: actions/checkout@v3
        with:
          repository: instill-ai/vdp

      - name: Launch VDP
        run: |
          COMPOSE_PROFILES=all \
          EDITION=local-ce:test \
          ITMODE=true \
          TRITON_CONDA_ENV_PLATFORM=cpu \
          docker compose -f docker-compose.yml -f docker-compose.latest.yml up -d --quiet-pull
          COMPOSE_PROFILES=all \
          EDITION=local-ce:test \
          docker compose -f docker-compose.yml -f docker-compose.latest.yml rm -f

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Load .env file
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - name: Install k6
        run: |
          curl https://github.com/grafana/k6/releases/download/v${{ env.K6_VERSION }}/k6-v${{ env.K6_VERSION }}-linux-amd64.tar.gz -L | tar xvz --strip-components 1 && sudo cp k6 /usr/bin

      - name: Run integration-test
        run: |
          make integration-test MODE=localhost
